*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
#nav{
    width: 100%;
    height: 5rem;
    position: fixed;
    background-color: #000;
}
.nav{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 8.5rem;
    height: 48%;
}
.logo img{
    width: 100%;
    height: 100%;
}
nav ul{
    display: flex;
    margin-right: 0;
    gap: 2rem;
}
nav ul li a{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: all .1s;
}
nav ul li a:hover{
    color: #1ed760;
    font-size: 16px;
    font-weight: bold;
}

/* menu mobile */
#nav .nav .iconeMenuMobile{
    display: none;
}
#nav .menuMobile{
    display: none;
}



/* BANNER */
#banner{
    width: 100%;
    height: 38.6rem;
    display: block;
    padding: 5rem 0 0 8rem;
    background-image: linear-gradient(-176deg, #deb887 10%, #121212 40%);
    border-bottom: 1px dotted #e7e7e7a6;
}
#banner .mainBanner{
    width: 100%;
    height: 18rem;
    display: flex;
    color: #fff;
}
.mainBanner .textBanner{
    width: 45%;
    height: 100%;
}
.textBanner h3{
    font-size: 2.3rem;
    margin-top: 4rem;
    font-weight: bold;
}
.textBanner h5{
    font-size: 1.4rem;
    font-weight: lighter;
    margin-top: 1.2rem;
}
.imgBanner1{
    display: none;
}
.mainBanner .imgBanner{
    width: 56%;
    height: 30rem;
}
.imgBanner img{
    width: 100%;
    height: 100%;
}

#banner .botao{
    width: 65%;
    display: block;
}
.botao .botoes{
    width: 100%;
    gap: 1.5rem;
    margin: 1rem 0 1.5rem;
    display: flex;
}
.botoes button{
    font-size: 1rem;
    padding: .7rem 2.3rem;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
}
.botoes button:hover{
    transform: scale(1.06);
}
.botoes .btn1{
    outline: none;
    border: none;
    background-color: #ffd2d7;
}
.botoes .btn2{
    border: 3px solid #fff;
    background-color: #000;
    color: #fff;
}
.botao p{
    font-size: 11px;
    color: #fff;
}


/* EXPERIMENTO */
#experimento{
    width: 100%;
    height: auto;
    background-color: #121212;
    border-bottom: 1px dotted #e7e7e7a6;
}
.experimentoMain{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 5rem 0;
    display: block;
}
.textoExperimento{
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.textoExperimento h1{
    font-size: 2.6rem;
}
.textoExperimento h3{
    width: 78%;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: .5rem 0 2rem;
}
.tabelaExperimento{
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.tabelaExperimento table{
    width: 60%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}
table .heade{
    height: 8rem;
}
table .heade1{
    width: 40%;
    color: #fff;
    padding: 0 2rem;
    text-align: left;
    border: 1px solid #e1e1e109;
    border-bottom: 1px solid #e1e1e154;
    background-color: #121212;
}
table .heade2{
    width: 28%;
    color: #000;
    padding: 0 1.5rem;
    text-align: left;
    border: 1px solid #e1e1e154;
    background-color: #fff;
}
table .heade3{
    width: 32%;
    color: #fff;
    padding: 0 2rem;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #e1e1e154;
    background-color: #ad2489;
}
table tr td{
    border: .1px solid #e1e1e154;
}
table tr td:first-of-type{
    text-align: left;
    padding: 2rem 1rem;
    color: #fff;
}
table .linha{
    color: #ffffff8c;
    font-size: 2rem;
}
table .coluna3{
    background-color: #ad2488ad;
}
table .coluna3 i{
    color: #fff;
    font-size: 2.2rem;
}




/* PLANOS */
#planos{
    width: 100%;
    height: auto;
    background-color: #121212;
    border-bottom: 1px dotted #e7e7e7a6;
}
#planos .planoMain{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    padding: 4rem 2rem;
}
.planoMain .textoPlano{
    text-align: center;
    color: #fff;
}
.textoPlano h2{
    font-size: 40px;
}
.textoPlano h3{
    font-size: 16px;
    padding: 1rem 1.5rem;
}

.planoMain .RecursoPlano{
    width: 100%;
    height: auto;
    padding: 5px;
    margin-top: 1rem;
    border-radius: 12px;
    background-image: linear-gradient(to right, #ad2489 45%, #4682de 85%);
}
.RecursoPlano .infoRecurso{
    width: 100%;
    height: auto;
    border-radius: 7px;
    margin: 0 auto;
    padding: 1.5rem 30%;
    background-color: #121212;
}
.infoRecurso h3{
    font-size: 16px;
    color: #fff;
    padding: 4px 0 15px;
}
.infoRecurso ul{
    width: 100%;
    height: 100%;
    display: block;
}
.infoRecurso ul li{
    color: #fff;
    font-size: 16px;
    padding: 4px;
}
.infoRecurso ul li i{
    margin-right: 5px;
}


.planoMain .planoPlano{
    width: 100%;
    height: auto;
    margin: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem
    ;
    justify-content: center;
}
.plano1{
    width: 362px;
    height: 435px;
    display: block;
    border-radius: 12px;
    padding: 1.5rem;
    border: 5px solid #ffd2d7;
}
.plano1 .dadosPlano1{
    width: 47%;
    height: 3rem;
    padding: 0;
}
.plano1 .dadosPlano1 p{
    background-color: #ffd2d7;
    padding: 9px 7px;
    margin: 0;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
}
.plano1 .dadosPlano2{
    width: 100%;
    height: 4rem;
    display: flex;
    margin: 1.6rem 0;
    justify-content: space-between;
}
.plano1 .dadosPlano2 .dados1{
    width: 60%;
    height: auto;
}
.plano1 .dadosPlano2 .dados1 h3{
    font-size: 24px;
    color: #fff;
}
.plano1 .dadosPlano2 .dados2 p:first-of-type{
    font-size: 18px;
    color: #fff;
    margin: 4px 0 0;
}
.plano1 .dadosPlano2 .dados2 p:last-of-type{
    font-size: 10px;
    color: #fff;
    margin: 4px 0 0;
    text-align: right;
}
.plano1 .dadosPlano3{
    width: 100%;
    height: 4.6rem;
    display: block;
    margin-bottom: 1.6rem;
}
.plano1 .dadosPlano3 ul{
    width: 100%;
    display: block;
    padding: 0 16px;
}
.plano1 .dadosPlano3 ul li{
    list-style: disc;
    color: #fff;
    font-size: 16px;
    padding: 3px;
}
.plano1 .dadosPlano4{
    width: 100%;
    height: 8rem;
    display: block;
}
.plano1 .dadosPlano4 button{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 30px;
    background-color: #ffd2d7;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    transition: all .2s;
    cursor: pointer;
    margin-bottom: 1rem;
}
.plano1 .dadosPlano4 button:hover{
    transform: scale(1.05);
}
.plano1 .dadosPlano4 p{
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.planoMain .planoPlano .plano2{
    border: 5px solid #c4b1d4;
}
.plano2 .dadosPlano1 p{
    background-color: #c4b1d4;
}
.plano2 .dadosPlano4 button{
    background-color: #c4b1d4;
}
.planoMain .planoPlano .plano3{
    border: 5px solid #ffc862;
}
.plano3 .dadosPlano1 p{
    background-color: #ffc862;
}
.plano3 .dadosPlano4 button{
    background-color: #ffc862;
}
.planoMain .planoPlano .plano4{
    border: 5px solid #a5bbd1;
}
.plano4 .dadosPlano1 p{
    background-color: #a5bbd1;
}
.plano4 .dadosPlano4 button{
    background-color: #a5bbd1;
}





/* DIVIDAS */
#duvida{
    width: 100%;
    height: auto;
    background-color: #121212;
}
.duvidaMain{
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
    padding: 4rem 0;
    background-color: red;
}
.infoDuvida{
    text-align: center;
    color: #fff;
}
.infoDuvida h2{
    font-size: 32px;
}
.infoDuvida p{
    font-size: 16px;
    margin: 16px 0;
}

.perguntasDuvida{
    width: 100%;
    height: auto;
    display: block;
    padding: 0 0 2rem;
    background-color: yellow;
}
.perguntasDuvida .pergunta1{
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
    background-color: blue;
}
.perguntasDuvida .pergunta1 .pergunta{
    width: 100%;
    height: auto;
    display: flex;
    font-size: 18px;
    height: 3rem;
    line-height: 3rem;
    background-color: #2a2a2a;
    color: #fff;
    justify-content: space-between;
}
.perguntasDuvida .pergunta1 .pergunta i{
    height: 3rem;
    line-height: 3rem;
    font-size: 22px;
    color: #fff;
    background-color: #2a2a2a;
}
.perguntasDuvida .pergunta1 .pergunta .botaoUp{
    display: none;
}
.perguntasDuvida .pergunta1 .pergunta .botaoDown{
    display: none;
}
#duvida .perguntasDuvida .pergunta1 .resposta{
    width: 100%;
    display: none;
    background-color: #242424;
    cursor: default;
}
#duvida .perguntasDuvida .pergunta1 .resposta p{
    cursor: text;
}
.respostaSumir .resposta{
    display: block;
    padding: 15px 32px 32px;
    font-size: 16px;
    color: #fff;
    scroll-behavior: smooth;
    /* transition: all 4s; */
}