@media (max-width: 1024px){
    .nav{
        width: 90%;
    }

    /* BANNER */
    #banner{
        width: 100%;
        height: 40rem;
        display: block;
        padding: 5rem 0 0 2rem;
        background-image: linear-gradient(-172deg, #deb887 10%, #121212 40%);
    }
    #banner .mainBanner{
        height: 24.5rem;
    }
    .textBanner h3{
        margin-top: 8rem;
    }

    /* BANNER */
    #banner{
        border-bottom: none;
    }

   /* EXPERIMENTO */
    #experimento{
        width: 100%;
        height: auto;
        background-color: #121212;
        border-bottom: none;
    }
    
    table tr td{
        border-left: none;
        border-right: none;
    }
    table tr td:first-of-type{
        border-right: none;
    }
    table .linha{
        border-left: none;
        border-right: none;
    }
    table .coluna3{
        border-left: none;
    }


    /* PLANOS */
    .planoMain .RecursoPlano{
        width: 90%;
        margin: 1rem auto 0;
    }
}



@media (max-width: 768px){
    .nav ul{
        display: none;
    }

    /* menu mobile */
    #nav .nav .iconeMenuMobile{
        display: flex;
    }
    #nav .iconeMenuMobile i{
        font-size: 2.5rem;
        color: #fff;
    }
    #nav .menuHamburguer{
        width: 26rem;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 3.7rem;
        padding: 0rem 2rem;
        background-color: #000;
    }
    #nav .menuHamburguer ul{
        width: 100%;
        display: block;
    }
    #nav .menuHamburguer ul li{
        margin-bottom: 1.5rem;
    }
    #nav .menuHamburguer ul li a{
        font-size: 2.2rem;
        font-weight: bold;
        color: #fff;
    }
    #nav .menuMobile{
        display: none;
    }

    /* banner */
    .textBanner h3{
        font-size: 2.2rem;
        margin-top: 8rem;
        font-weight: bold;
    }
    .mainBanner .imgBanner{
        width: 56%;
        height: 18rem;
    }
    #banner .botao{
        width: 80%;
    }
    .botao .botoes{
        gap: 1rem;
        margin: 1rem 0 1.2rem;
    }
    .botoes button{
        padding: .6rem 1.86rem;
    }


    /* EXPERIMENTO */
    .experimentoMain{
        width: 100%;
    }
    .textoExperimento{
        text-align: left;
    }
    .textoExperimento h1{
        font-size: 2.6rem;
    }
    .textoExperimento h3{
        width: 100%;
        font-size: 1.4rem;
    }


    /* PLANOS */
    #planos{
        width: 100%;
    }
    #planos .planoMain{
        width: 90%;
    }
    .planoMain .textoPlano{
        width: 100%;
    }
    .textoPlano h2{
        font-size: 28px;
    }

    .planoMain .RecursoPlano{
        width: 75%;
        margin: 1rem auto 0;
    }
    .RecursoPlano .infoRecurso{
        padding: 1.5rem 2.5rem;
    }

    .plano1{
        width: 472px;
    }
}




@media (max-width: 425px){
    /* BANNER */
    #banner{
        width: 100%;
        height: 44rem;
        padding: 5rem 0 0 0;
        background-image: linear-gradient(-164deg, #deb887 10%, #121212 40%);
    }
    #banner .mainBanner{
        width: 100%;
        height: 70%;
        display: block;
    }
    .mainBanner .imgBanner{
        display: none;
    }
    .mainBanner .imgBanner1{
        display: block;
        width: 118.9%;
        height: 15rem;
        margin-left: -5rem;
    }
    .imgBanner1 img{
        width: 100%;
        height: 100%;
    }
    .mainBanner .textBanner{
        width: 100%;
        margin-top: -9rem;
        padding: 0 1.5rem;
    }
    .textBanner h3{
        font-size: 1.8rem;
        font-weight: bold;
    }
    
    #banner .botao{
        width: 100%;
        margin-top: -2rem;
        padding: 1rem;
    }
    .botao .botoes{
        width: 100%;
        margin: 0rem 0 1rem;
        display: block;
    }
    .botoes button{
        width: 100%;
        font-size: 1rem;
        padding: .7rem;
    }
    .botoes button:hover{
        transform: scale(1.06);
    }
    .botoes .btn1{
        margin-bottom: 1rem;
    }


    
    /* EXPERIMENTO */
    .experimentoMain{
        width: 100%;
        padding: 2rem 0;
    }
    .textoExperimento{
        width: 90%;
        text-align: left;
    }
    .textoExperimento h1{
        font-size: 28px;
    }
    .textoExperimento h3{
        font-size: 18px;
        padding: .5rem 0 1.5rem;
        font-weight: lighter;
    }
    
    .tabelaExperimento{
        width: 100%;
    }
    .tabelaExperimento table{
        width: 100%;
    }
    table .heade{
        height: 7rem;
    }
    table .heade1{
        padding: 0 .6rem;
    }
    table .heade2{
        padding: 0 1rem;
    }
    table .heade3{
        padding: 0 1.5rem;
    }
    table tr td{
        border: .1px solid #e1e1e154;
    }
    table tr td:first-of-type{
        text-align: left;
        padding: 1rem .6rem;
        color: #fff;
    }
    table .linha{
        color: #ffffff8c;
        font-size: 2rem;
    }
    table .coluna3{
        background-color: #ad2488ad;
    }


    /* PLANOS */
    #planos .planoMain{
        width: 100%;
        padding: 3rem 1.5rem;
    }
    .planoMain .textoPlano{
        width: 100%;
        padding: 0rem;
    }
    .textoPlano h2{
        font-size: 29px;
    }
    .textoPlano h3{
        font-size: 16px;
        padding: 1rem 0rem;
    }
    .planoMain .RecursoPlano{
        width: 100%;
        padding: 2.5px;
    }
    .RecursoPlano .infoRecurso{
        border-radius: 10px;
        padding: 1.5rem 0 1.5rem 1rem;
    }
    .plano1{
        width: 362px;
        height: auto;
    }
    .plano1 .dadosPlano3{
        height: auto;
    }
    .plano1 .dadosPlano4{
        width: 100%;
        height: auto;
    }


    /* ACORDIO */
    .acordionPergunta{
        font-size: 16px;
        height: auto;
        padding: 1rem;
        line-height: 1.4rem;
    }
    .acordionPergunta i{
        line-height: 2rem;
        font-size: 22px;
    }
    .acordionResposta{
        font-size: 14px;
    }
}




@media (max-width: 375px){
    /* BANNER */
    #banner{
        height: 48rem;
    }

    /* EXPERIMENTO */
    .experimentoMain{
        padding: 0;
    }
    
    /* PLANOS */
    .plano1{
        padding: .8rem .8rem 1rem;
    }
}